.why-us {
  background-image: url(../img/why-us.png);
  min-height: 100vh;
  background-position: -645px bottom;
  background-repeat: no-repeat;
  position: relative;
}

.why-us__desc-box {
  max-width: 585px;
  padding-top: 240px;
  margin-left: 115px;
}

.why-us__title {
  margin: 0;
}

.why-us__cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.why-us__card {
  width: 300px;
  height: 250px;
}

.why-us__card:first-child {
  width: 450px;
}

.why-us__card:not(:last-child) {
  margin-right: 30px;
}

.why-us__card-link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.why-us__card-img {
  object-fit: contain;
}
